.dropdown {
    position: relative;
    $c: &;

    &._open {
        #{$c} {
            &__menu {
                display: block;
            }
        }
    }

    &__menu {
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
    }
}
