extends ../../components/layout/layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block header
    +header()
block content
    .sign-in
        
block footer
    +footer()