extends ../../components/layout/layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block header
    +header()
block content
    main.sign-in
        include ../../components/popup-signin/popup-signin.pug
block footer
    +footer()