include ../menu-dropdown/menu-dropdown.pug
include ../link/link.pug

mixin menu({menuLinks})
    nav.menu
        ul.menu__list 
            each link in menuLinks
                li 
                    if link.children
                        +menu-dropdown({trigger: link.name, menuLinks: link.children, attr: {'data-menu-dropdown': ''}})
                    else
                        +link({href: link.href, text: link.name})