mixin menu({menuLinks})
    nav.menu
        ul.menu__list 
            each link in menuLinks
                li 
                    if link.children
                        +dropdown({trigger: link.name, menuLinks: link.children})
                    else
                        +link({href: link.href, text: link.name})