include ../../data/data.pug
include ../icon/icon.pug
include ../button/button.pug
include ../checkbox/checkbox.pug
include ../image/image.pug
include ../link/link.pug
include ../like-button/like-button.pug
include ../header/header.pug
include ../footer/footer.pug

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TOXIN
body
    .layout
        block header
        main
            block content
        block footer
    include ../icon-storage/icon-storage.pug