include ../../data/data.pug

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TOXIN
body
    .layout
        block header
        main
            block content
        block footer
    include ../icon-storage/icon-storage.pug