include ../icon/icon.pug
include ../checkbox/checkbox.pug
include ../like-button/like-button.pug

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TOXIN
body
    block content
    include ../icon-storage/icon-storage.pug