include ../logo/logo.pug
include ../menu/menu.pug

mixin header()
    header.header
        +logo({className: 'header__logo'})
        +menu({menuLinks: menuLinks})
        +button({text:'Login'})
        +button({text:'Register'})