doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
body
  p.hello Blablabla
  img(src="assets/images/static/bg.jpg")
  svg
    use(xlink:href="#logo")
  include components/header/header.pug
  include components/icon-storage/icon-storage.pug
