@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin reset-button {
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 0;
}

@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@mixin container {
    padding: 0 calc(50% - #{$bp-lg / 2});
    height: 100%;
}
