$c-base: #1f2041;
$c-base-75: rgba($c-base, 0.75);
$c-base-50: rgba($c-base, 0.5);
$c-base-25: rgba($c-base, 0.25);
$c-base-5: rgba($c-base, 0.05);
$c-primary: #bc9cff;
$c-secondary: #8ba4f9;
$c-accent: #6fcf97;

$c-default: #ffffff;
$c-default-dark: #000000;

$primary-gradient: linear-gradient(180deg, $c-primary 0%, $c-secondary 100%);

$bp-lg: 1200px;
$bp-md: 768px;
$bp-xs: 320px;
