-
    var menuLinks = [
        {name: 'О нас', href: '#'},
        {name: 'Услуги', children: [
            {name: 'Услуга 1', href: '#'},
            {name: 'Услуга 2', href: '#'}
        ]},        
        {name: 'Вакансии', href: '#'},
        {name: 'Новости', href: '#'},
        {name: 'Соглашения', children: [
            {name: 'Соглашение 1', href: '#'},
            {name: 'Соглашение 2', href: '#'}
        ]},
    ]

    var socials = [
        {icon: 'twitter', href: '#'},
        {icon: 'facebook', href: '#'},
        {icon: 'insta', href: '#'}
    ]

    var footerLinks = [
        {
            groupName: 'Навигация',
            links: [
                {name: 'О нас', href: '#'},
                {name: 'Новости', href: '#'},
                {name: 'Служба поддержки', href: '#'},
                {name: 'Услуги', href: '#'}
            ]
        },
        {
            groupName: 'О нас',
            links: [
                {name: 'О сервисе', href: '#'},
                {name: 'Наша команда', href: '#'},
                {name: 'Вакансии', href: '#'},
                {name: 'Инвесторы', href: '#'}
            ]
        },
        {
            groupName: 'Служба поддержки',
            links: [
                {name: 'Соглашения', href: '#'},
                {name: 'Сообщества', href: '#'},
                {name: 'Связь с нами', href: '#'}
            ]
        }
    ]