-
    var menuLinks = [
        {name: 'О нас', href: '#'},
        {name: 'Услуги', children: [
            {name: 'Услуга 1', href: '#'},
            {name: 'Услуга 2', href: '#'}
        ]},        
        {name: 'Вакансии', href: '#'},
        {name: 'Новости', href: '#'},
        {name: 'Соглашения', children: [
            {name: 'Соглашение 1', href: '#'},
            {name: 'Соглашение 2', href: '#'}
        ]},
    ]