-
    var menuLinks = [
        {name: 'Home', href: '#'},
        {name: 'About us', href: '#'},
        {name: 'Services', children: [
            {name: 'Service 1', href: '#'},
            {name: 'Service 2', href: '#'}
        ]},
        {name: 'Careers', href: '#'},
        {name: 'News', href: '#'},
        {name: 'Documentation', href:'#'}
    ]